<footer id="nk-footer">


	<div class="container py-2">
		<div class="grid cols-4-2-1">


			{% if informations %}
				<nav class="flex-col children-py-025">
					<div class="bx-title mb-05">{{ text_information }}</div>
					{% for information in informations %}
						<a href="{{ information.href }}">{{ information.title }}</a>
					{% endfor %}
					<a href="{{ sitemap }}">{{ text_sitemap }}</a>

				</nav>
			{% endif %}
			<nav class="flex-col children-py-025">
				<div class="bx-title mb-05">{{ text_extra }}</div>
				<a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
				<a href="{{ special }}">{{ text_special }}</a>
			</nav>
			<nav class="flex-col children-py-025">
				<div class="bx-title mb-05">{{ text_account }}</div>
				<a href="{{ account }}">{{ text_account }}</a>
				<a href="{{ order }}">{{ text_order }}</a>
				<a href="{{ wishlist }}">{{ text_wishlist }}</a>
			</nav>
			<nav class="flex-col children-py-025">
				<div class="bx-title mb-05">CONNECT</div>
				<a href="{{ contact }}">{{ text_contact }}</a>
				<a class="mt-05" href="https://www.facebook.com/PeachCraftglass" target="blank">
					<svg class="nk-icon wh-2">
						<use xlink:href="catalog/view/theme/naykel/svg/naykel-ui-SVG-sprite.svg#facebook-round"></use>
					</svg>
				</a>
			</nav>
		</div>
	</div>
	<div class="container">
		<hr>
		<p>{{ powered }}</p>
	</div>

</div></footer>{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>{% endfor %}{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>{% endfor %}</body></html>
