{{ header }}
{# <div id="common-home" class="container">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}

			{{ content_bottom }}
		</div>
		{{ column_right }}</div>
</div> #}

<div class="zebra children-py-5-3-2">
	<section id="our-services">
		<div class="nk-container">
			<div class="grid cols-2-2-1 gg-3">
				<div>
					<img src="image/laser-machine.jpg" alt="peachcraft-services" style="border-radius: 1rem;">
				</div>
				<div>
					<h2 class="title">Our Services</h2>
					<p>Peachcraft provides high quality laser cutting and engraving services focused on cost effective products and services for, small businesses, hobbyists, and makers.</p>
					<p>We can laser materials up to a maximum size of 1000x800mm in:</p>
					<ul>
						<li>MDF up to 8mm thick</li>
						<li>Plywood and Bamboo up to 10mm think</li>
						<li>Acrylic and other plastics up to 8mm thick</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="about-us">

		<div class="nk-container">

			<div class="grid cols-2-2-1 gg-3">

				<div>
					<h2 id="about" class="title">About Peachcraft</h2>
					<p>PeachCraft came about from a love of crafting, beginning with stained glass many years ago and moving onto Mosaics.  With each craft comes new tools and then new ideas and new passions.</p>
					<p>PeachCraft now has a fully set up workshop that houses Cnc machines and a large laser machine. PeachCraft has a passion for all things wooden, from upcycling furniture using chalk paint and other assorted media to making frames for pictures and 3D carves. There is not a lot that we won't tackle striving to improve with each product made. PeachCraft can personalize items such as signs and is also able to engrave items with various slogans and sayings.  We are not limited to wood however as there is also garden art which is generally made from aluminum and other steels. We are very approachable and happy to work with you to design and make things that you want.</p>
				</div>


				<div>
					<img src="image/about.jpg" alt="peachcraft" style="border-radius: 1rem;">
				</div>

			</div>
		</div>
	</section>
	<section id="testimonials">
		<div class="nk-container">
			<h2 class="title tac">What our customers are saying?</h2>
			<div class="grid cols-3-1-1 gg-2">
				<div class="bx">
					<div class="flex ">
						<div class="align-self-center ml">
							<div class="bx-title">Rebecca Mitchel</div>
						</div>
					</div>
					<p>Lorem ipsum dolor elit. Eveniet sit cumque est maiores minus, quos inventore? Adipisci facilis debitis aliquam?
					</p>
				</div>
				<div class="bx">
					<div class="flex ">
						<div class="align-self-center ml">
							<div class="bx-title">Jamerson Wildley</div>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sit cumque est maiores minus, quos inventore? Adipisci aliquam?
					</p>
				</div>
				<div class="bx">
					<div class="flex ">
						<div class="align-self-center ml">
							<div class="bx-title">Paul Robina</div>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sit cumque est maiores minus, quos inventore? Adipisci facilis debitis.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="info-icons">
		<div class="container tac">

			<div class="grid cols-4-4-2-1 gg-3">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" width="169.456" height="100.005" viewbox="0 0 169.456 100.005">
						<g transform="translate(-137.375 -6.726)"><path d="M261.312,65.023h.012l28.319-.21a2,2,0,0,0,1.99-2,26.878,26.878,0,0,0-26.869-26.885H261.3a2.008,2.008,0,0,0-2,2V63.023a2.012,2.012,0,0,0,.59,1.423A2.065,2.065,0,0,0,261.312,65.023Zm2-25.093h1.446a22.887,22.887,0,0,1,22.793,20.891l-24.239.19Z"/><path d="M300.706,84.525h-.056V62.808a35.912,35.912,0,0,0-35.9-35.9H254.286V8.726a2.007,2.007,0,0,0-2-2H161.925a2.007,2.007,0,0,0-2,2V20.79h-20.55a2,2,0,0,0,0,4h38.682a2,2,0,0,0,0-4H163.926V10.726h86.369v73.8H206.432a16.1,16.1,0,0,0-29.775,0H163.926V66.735h12.8a2,2,0,0,0,0-4H146.37a2,2,0,0,0,0,4h13.554v17.79h-.056a6.115,6.115,0,0,0,0,12.231h16.789a16.1,16.1,0,0,0,29.775,0H260.59a16.1,16.1,0,0,0,29.775,0h10.351a6.113,6.113,0,0,0,6.115-6.109v-.006A6.138,6.138,0,0,0,300.706,84.525Zm-46.42-53.614h10.463a31.934,31.934,0,0,1,31.9,31.9V84.525h-6.293a16.1,16.1,0,0,0-29.775,0h-6.293ZM159.868,92.753a2.115,2.115,0,0,1-1.49-3.614,2.083,2.083,0,0,1,1.49-.623H175.59a16.781,16.781,0,0,0,0,4.225H159.868Zm31.677,9.973a12.1,12.1,0,1,1,12.1-12.1,12.1,12.1,0,0,1-12.1,12.1ZM207.5,92.753a16.781,16.781,0,0,0,0-4.225h52.012a16.783,16.783,0,0,0,0,4.225Zm67.968,9.973a12.1,12.1,0,1,1,12.1-12.1,12.1,12.1,0,0,1-12.1,12.1Zm26.729-10.6a2.1,2.1,0,0,1-1.49.623h-9.273a16.883,16.883,0,0,0,0-4.226h9.284a2.112,2.112,0,0,1,2.113,2.112h0a2.162,2.162,0,0,1-.636,1.49Z"/><path d="M191.545,84.011a6.627,6.627,0,1,0,6.627,6.627h0A6.628,6.628,0,0,0,191.545,84.011Zm0,9.24a2.624,2.624,0,1,1,2.624-2.625A2.625,2.625,0,0,1,191.545,93.251Z"/><path d="M275.468,84.011a6.627,6.627,0,1,0,6.626,6.628h0A6.629,6.629,0,0,0,275.468,84.011Zm0,9.24a2.624,2.624,0,1,1,2.624-2.625A2.625,2.625,0,0,1,275.468,93.251Z"/><path d="M198.461,24.79a2,2,0,0,0,0-4H186.984a2,2,0,0,0,0,4Z"/><path d="M160.79,34.767H147.269a2,2,0,0,0,0,4h13.52a2,2,0,0,0,0-4Z"/><path d="M167.717,36.767a2.007,2.007,0,0,0,2,2h36.635a2,2,0,0,0,0-4H169.717A2,2,0,0,0,167.717,36.767Z"/><path d="M151.575,50.753a2.007,2.007,0,0,0-2-2h-10.2a2,2,0,0,0,0,4h10.2A2.007,2.007,0,0,0,151.575,50.753Z"/><path d="M156.488,50.753a2.007,2.007,0,0,0,2,2h39.96a2,2,0,0,0,0-4h-39.96A2,2,0,0,0,156.488,50.753Z"/><path d="M185.639,62.729a2,2,0,1,0,0,4h19.8a2,2,0,1,0,0-4Z"/></g>
					</svg>
					<div class="title">Australia Wide
						<br>
						Shipping</div>
				</div>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewbox="0 0 100 100">
						<g transform="translate(-0.001)">
							<g transform="translate(0.001)"><path d="M89.337,19.129h3.09a1.952,1.952,0,0,0,0-3.9H85.006a1.952,1.952,0,0,0-1.952,1.952h0V24.6a1.952,1.952,0,0,0,3.9.176,1.719,1.719,0,0,0,0-.176V22.448A46.1,46.1,0,1,1,50,3.9a46.777,46.777,0,0,1,5.624.339A1.952,1.952,0,1,0,56.283.391C56.223.38,56.161.373,56.1.368A50.724,50.724,0,0,0,50,0,50,50,0,1,0,89.337,19.129Z" transform="translate(-0.001)"/><path d="M21.173,29.476a1.951,1.951,0,0,0-2.693.605A37.274,37.274,0,1,0,30.144,18.442a1.952,1.952,0,0,0,2.081,3.3A33.381,33.381,0,1,1,21.777,32.171,1.952,1.952,0,0,0,21.173,29.476Z" transform="translate(0 0.001)"/><path d="M75.374,51.984h2.407a1.952,1.952,0,0,0,0-3.9H75.374a1.952,1.952,0,0,0-.177,3.9Q75.286,51.987,75.374,51.984Z" transform="translate(0.005 0.004)"/><path d="M20.267,49.969a1.952,1.952,0,0,0,1.952,1.952h2.407a1.952,1.952,0,0,0,0-3.9H22.219A1.953,1.953,0,0,0,20.267,49.969Z" transform="translate(0.001 0.004)"/><path d="M51.984,24.626V22.219a1.952,1.952,0,0,0-3.9-.177q0,.089,0,.177v2.407a1.952,1.952,0,1,0,3.9.177Q51.987,24.715,51.984,24.626Z" transform="translate(0.003 0.002)"/><path d="M48.017,75.374v2.407a1.952,1.952,0,0,0,3.9.177,1.743,1.743,0,0,0,0-.177V75.374a1.952,1.952,0,0,0-3.9-.177A1.743,1.743,0,0,0,48.017,75.374Z" transform="translate(0.003 0.006)"/><path d="M40.212,37.457a1.952,1.952,0,0,0-2.76,2.76l6.616,6.616a6.724,6.724,0,1,0,11.859,0L69.274,33.484a1.952,1.952,0,0,0-2.76-2.76L53.169,44.072a6.712,6.712,0,0,0-6.337,0ZM52.814,50a2.825,2.825,0,1,1,.007,0h-.007Z" transform="translate(0.002 0.002)"/><path d="M26.4,26.4a1.951,1.951,0,1,0-1.38.572A1.951,1.951,0,0,0,26.4,26.4Z" transform="translate(0.001 0.002)"/><path d="M63.522,5.832a1.955,1.955,0,1,0-1.381-.572A1.952,1.952,0,0,0,63.522,5.832Z" transform="translate(0.004 0)"/></g>
						</g>
					</svg>
					<div class="title">Fast Turn
						<br>
						Around</div>
				</div>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" width="99.875" height="99.999" viewbox="0 0 99.875 99.999">
						<g transform="translate(-364.976 -2.754)"><path d="M388.28,9.413h3.328v3.328H388.28Z"/><path d="M381.622,9.413h3.328v3.328h-3.328Z"/><path d="M374.964,9.413h3.328v3.328h-3.328Z"/><path d="M453.2,2.754h-76.57a11.58,11.58,0,0,0-11.652,11.508V71.006a11.579,11.579,0,0,0,11.511,11.648h.141v-3.33a8.239,8.239,0,0,1-8.323-8.16q0-.08,0-.162V19.4h89.887V16.071H368.3V14.407a8.242,8.242,0,0,1,8.16-8.324H453.2a8.242,8.242,0,0,1,8.323,8.161c0,.053,0,.108,0,.163v56.6a8.242,8.242,0,0,1-8.16,8.324H453.2v3.324a11.582,11.582,0,0,0,11.653-11.507V14.4A11.581,11.581,0,0,0,453.339,2.754Z"/><path d="M394.938,9.413h23.3v3.328h-23.3Z"/><path d="M448.038,49.7l-1.5,48.773a6.784,6.784,0,0,1-6.658,0l-1.5-48.607L434.889,47.7l1.665,52.6,1.165.832a10.113,10.113,0,0,0,10.985,0l1.166-.832,1.664-52.6Z"/><path d="M419.907,22.729h-9.988a6.678,6.678,0,0,0-6.658,6.658V95.971a6.678,6.678,0,0,0,6.658,6.658h9.988a6.678,6.678,0,0,0,6.657-6.658V29.387A6.678,6.678,0,0,0,419.907,22.729Zm0,76.572h-9.988a3.342,3.342,0,0,1-3.33-3.33V29.387a3.341,3.341,0,0,1,3.33-3.329h9.988a3.339,3.339,0,0,1,3.328,3.329v1.665h-6.658v3.329h6.658V37.71h-3.328v3.33h3.328v3.328h-3.328V47.7h3.328v3.331h-6.658v3.328h6.658v3.331h-3.328v3.328h3.328v3.33h-3.328v3.328h3.328V71h-6.658V74.33h6.658v3.328h-3.328v3.328h3.328v3.33h-3.328v3.329h3.328v3.33h-6.658V94.3h6.658v1.666A3.34,3.34,0,0,1,419.907,99.3Z"/><path d="M396.435,42.039l-6.658-14.982a1.652,1.652,0,0,0-2.163-.832,2.015,2.015,0,0,0-.832.832l-6.658,14.982a1.526,1.526,0,0,0-.166.666v54.93a4.9,4.9,0,0,0,4.8,4.994c.063,0,.126,0,.19,0h6.657a4.9,4.9,0,0,0,4.994-4.805q0-.093,0-.189V42.705A2.04,2.04,0,0,0,396.435,42.039ZM386.614,47.7V89.31h-3.328V44.369h9.987V89.31h-3.329V47.7Zm1.666-15.814,4.16,9.156h-8.156ZM391.608,99.3H384.95a1.574,1.574,0,0,1-1.664-1.477,1.491,1.491,0,0,1,0-.189V92.641h9.987v4.994A1.574,1.574,0,0,1,391.8,99.3,1.507,1.507,0,0,1,391.608,99.3Z"/><path d="M453.2,42.04a29.749,29.749,0,0,0-2.164-9.822c-1.164-2.83-1.332-3.662,0-4.993a1.523,1.523,0,0,0,.334-1.832,1.458,1.458,0,0,0-1.5-1c-10.984,0-16.644,9.156-16.644,18.312a9.988,9.988,0,0,0,19.974,0Zm-9.988,7.324a6.678,6.678,0,0,1-6.657-6.658,18.962,18.962,0,0,1,2.5-9.156,11.458,11.458,0,0,1,7.823-5.493c-.332,1.831,1.166,5.993,1.166,5.993a22.748,22.748,0,0,1,1.664,8.657A6.432,6.432,0,0,1,443.5,49.36C443.4,49.364,443.308,49.364,443.21,49.364Z"/></g>
					</svg>
					<div class="title">Custom Designs
						<br>
						Welcome</div>
				</div>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" width="117.568" height="100" viewbox="0 0 117.568 100">
						<g transform="translate(-904.174 -106.231)"><path d="M951.078,148.2l13.432,8.1a1.843,1.843,0,0,0,1.864,0l13.427-8.1a1.808,1.808,0,0,0,.867-1.543V130.829a1.814,1.814,0,0,0-.866-1.545l-13.428-8.095a1.791,1.791,0,0,0-1.859,0l-13.43,8.092a1.816,1.816,0,0,0-.87,1.545v15.831A1.811,1.811,0,0,0,951.078,148.2Zm25.994-2.559-9.825,5.928V139.944l9.825-5.928Zm-11.626-20.807,9.941,5.993-9.941,6-9.944-6Zm-11.632,9.183,9.831,5.928v11.624l-9.831-5.928Z"/><path d="M1019.941,179.123h-10.718V119.236a1.8,1.8,0,0,0-1.8-1.8h-17.34l-4.073-4.079a4.222,4.222,0,0,0-5.968,0l-.8.795-.332-.181a27.661,27.661,0,0,0-5.5-2.28l-.363-.108v-1.129a4.233,4.233,0,0,0-4.22-4.222h-6.776a4.234,4.234,0,0,0-4.221,4.222v1.127l-.363.108a27.589,27.589,0,0,0-5.5,2.28l-.332.181-.8-.8a4.223,4.223,0,0,0-5.968,0l-4.074,4.079H923.126v-4.717a1.8,1.8,0,0,0-1.8-1.8h-7.359a9.312,9.312,0,0,0-9.286,9.29v12.577a1.8,1.8,0,1,0,3.6,0V120.2a5.7,5.7,0,0,1,5.684-5.685h5.555v56.134h-5.566a9.212,9.212,0,0,0-4.9,1.41l-.774.483V153.514a1.8,1.8,0,0,0-3.6,0v26.433a9.319,9.319,0,0,0,9.285,9.295h13.679v15.187a1.8,1.8,0,0,0,1.8,1.8h90.5a1.8,1.8,0,0,0,1.8-1.8V180.924A1.8,1.8,0,0,0,1019.941,179.123Zm-75.519-55.754-1.807-1.809a.628.628,0,0,1,.016-.861l4.78-4.789a.61.61,0,0,1,.448-.187l.282.03,1.944,1.939a1.8,1.8,0,0,0,2.239.248,24.147,24.147,0,0,1,7.705-3.2,1.792,1.792,0,0,0,1.406-1.759v-2.563a.637.637,0,0,1,.618-.587h6.807a.633.633,0,0,1,.585.618v2.533a1.788,1.788,0,0,0,1.407,1.757,24.126,24.126,0,0,1,7.7,3.2,1.8,1.8,0,0,0,2.241-.246l1.791-1.794a.61.61,0,0,1,.441-.177l.28.029,4.96,4.966a.632.632,0,0,1-.019.855l-1.793,1.8a1.79,1.79,0,0,0-.246,2.236,24.175,24.175,0,0,1,3.2,7.714,1.793,1.793,0,0,0,1.758,1.409h2.573a.626.626,0,0,1,.57.625v6.788a.63.63,0,0,1-.618.612h-2.524a1.792,1.792,0,0,0-1.756,1.409,24.153,24.153,0,0,1-3.2,7.713,1.79,1.79,0,0,0,.246,2.237l1.815,1.818a.647.647,0,0,1-.022.86L983.44,161.6a.61.61,0,0,1-.417.163l-.287-.031-1.939-1.941a1.8,1.8,0,0,0-2.237-.25,24.448,24.448,0,0,1-7.709,3.2,1.8,1.8,0,0,0-1.4,1.76l0,2.586a.648.648,0,0,1-.615.574l-6.844,0a.645.645,0,0,1-.552-.617v-2.535a1.8,1.8,0,0,0-1.4-1.76,24.468,24.468,0,0,1-7.711-3.2,1.8,1.8,0,0,0-2.237.25l-1.812,1.813a.621.621,0,0,1-.413.159l-.287-.031-4.969-4.979a.646.646,0,0,1,.027-.854l1.793-1.794a1.788,1.788,0,0,0,.247-2.235,24.207,24.207,0,0,1-3.2-7.715,1.791,1.791,0,0,0-1.758-1.408h-2.549a.626.626,0,0,1-.593-.62v-6.78a.635.635,0,0,1,.616-.627h2.526a1.792,1.792,0,0,0,1.758-1.407,24.159,24.159,0,0,1,3.2-7.714A1.791,1.791,0,0,0,944.422,123.369Zm-16.779,57.549v4.718l-13.679.006a5.692,5.692,0,0,1,0-11.384h7.36a1.8,1.8,0,0,0,1.8-1.8V121.041h15.7l.039.464a4.2,4.2,0,0,0,1.215,2.621l.8.8-.182.331a27.943,27.943,0,0,0-2.281,5.512l-.106.362h-1.124a4.236,4.236,0,0,0-4.223,4.224v6.78a4.232,4.232,0,0,0,4.22,4.222H938.3l.1.364a27.9,27.9,0,0,0,2.281,5.509l.182.334-.8.8a4.243,4.243,0,0,0,0,5.976l4.792,4.8a4.226,4.226,0,0,0,5.969,0l.8-.8.332.181a28.121,28.121,0,0,0,5.5,2.283l.361.106v1.135a4.233,4.233,0,0,0,4.221,4.222h6.782a4.232,4.232,0,0,0,4.22-4.222v-1.131l.362-.106a27.924,27.924,0,0,0,5.5-2.281l.331-.181.8.8a4.226,4.226,0,0,0,5.969,0l4.789-4.8a4.242,4.242,0,0,0,0-5.976l-.8-.8.181-.332a27.954,27.954,0,0,0,2.282-5.511l.1-.364h1.122a4.231,4.231,0,0,0,4.221-4.221v-6.785a4.237,4.237,0,0,0-4.22-4.23h-1.122l-.106-.362a27.935,27.935,0,0,0-2.282-5.512l-.181-.331.8-.8a4.205,4.205,0,0,0,1.215-2.621l.039-.464h13.568v58.081H929.443A1.8,1.8,0,0,0,927.643,180.918Zm82.784,21.711V192.3a1.8,1.8,0,1,0-3.6,0v10.331h-7.7v-6.287a1.8,1.8,0,0,0-3.6,0v6.287H987.8V192.3a1.8,1.8,0,1,0-3.6,0v10.331h-7.705v-6.287a1.8,1.8,0,1,0-3.6,0v6.287h-7.711V192.3a1.8,1.8,0,1,0-3.6,0v10.331H953.87v-6.287a1.8,1.8,0,0,0-3.6,0v6.287h-7.711V192.3a1.8,1.8,0,1,0-3.6,0v10.331h-7.711v-19.9h86.9v19.9Z"/><path d="M906.475,145.462h0a2.309,2.309,0,1,0-2.3-2.314v.014A2.3,2.3,0,0,0,906.475,145.462Z"/></g>
					</svg>
					<div class="title">Great For
						<br>
						Prototyping</div>
				</div>
			</div>
		</div>
	</section>
</div>

{{ footer }}
